@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    background-color: #1a1919;
}
h1{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 10%;
    font-size: 70px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.imgGoogleLogo{
    height: 3em;
    padding-right: 0.5em;
}
.imgSanzwichLogo{
    height: 6em;
    padding-left: 92%;
    margin-bottom: 2%;
}
.container{
    text-align: center;
    width: 100%;
    
    
}
.ctnLogin{
    margin-top: 25%;
    align-content: inherit;
    visibility: visible;
}
.btnGoogleLogin{
    height: 4em;
    width: 14em;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}
.ctnCourses{
    margin-top: -15em;
    align-self: center;
    visibility: hidden;
}
.card{
    border-radius: 2px;
    border-color: black;
    width: 35%;
}
